body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

/* Add banner to header background */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 52px;
  background-color: #000000;
  box-shadow: 0px 0px 5px black;
  z-index: 800;
}

h1 {
  color: white;
  font-size: 16px;
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.0em;
  margin-left: 0.8em;
  margin-right: 0;
  font-weight: normal;
  font-family: "Montserrat";
}

h2 {
  font-size: 12px;
  color: white;
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.0em;
  margin-left: 1.0em;
  margin-right: 0;
  font-weight: normal;
  font-family: "Montserrat";
}

h4 {
  padding: 5px;
  font-size: 13px;
  line-height: 16px;
  font-family: "Montserrat";
}

/* Set map parameters */
#map {
  position: fixed;
  bottom: 0px;
  width: 100%;
  top: 52px;
}

.easy-button-button {
  display: inline-block !important;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  font: 12px/20px 'Rubik', 'Rubik', 'Rubik', sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 50px;
  height: 18px;
  float: left;
  margin-right: 25px;
  opacity: 0.7;
}
